html, body {
	@include full-screen;
	@include zero-box;
	@include background($color-gallery);
}

.display-none {
	display: none;
	@include transition(all $animation-duration $animation-timing);
}

.visible-none {
	opacity: 0;
	@include transition(all $animation-duration $animation-timing);
}

.vertical-center {
	@include vertical-center;
}

section {
	@include padding(em(25px) 0);
}

header {
	h1 {
		font-size: em(64px);
		text-align: center;
		text-transform: uppercase;
		color: $color-tundora;
	}
}