button {
	@include size(em(250px) em(50px));

	@include margin(em(35px) auto);

	color: $color-white;
	background-color: #64B5F6;

	font-family: $title-font;
	@include font-sw(em(20px), 800);

	border: 0;
	border-radius: $border-radius;

	outline: none;
	text-transform: uppercase;

	box-shadow: 0 em(5px) 0 #4987B2;

	@include transition(all $animation-duration $animation-timing);
	
	&:hover {
		@include margin(em(38px) auto em(32px));
		box-shadow: 0 em(2px) 0 #4987B2;
	}

}