.how {
	@include size(100% auto);
	@include padding(em(125px) 0);

	header {
		@include margin(0 auto em(25px));
		text-align: center;

		p {
			@include margin(0);
			color: $color-boulder;
			font-weight: 600;
		}
	}

	section {
		@include size(100% em(420px));
		@include zero-box;

		color: $color-white;

		.title {
			max-width: em(120px);
			font-size: em(54px);
			text-transform: uppercase;
		}

		.container {
			@include vertical-center;
		}

		.text, .image {
			@include span-columns(6);

			img {
				position: relative;
				height: em(250px);
				vertical-align: middle;
				
				@extend %transition;
			}
		}
	}

	.procrastination {
		@include background(#E57373);

		.image {
			text-align: right;
		}
	}

	.facebook {
		@include background(#536b96);

		.title {
			@include margin(0 0 0 auto);
			text-align: right;
		}

		.image {
			text-align: left;
		}
	}

	.puzzles {
		@include background(#9881CC);

		.image {
			text-align: right;
		}
	}

	.shower {
		@include background(#71C6CC);
	
		.title {
			@include margin(0 0 0 auto);
			text-align: right;
		}

		.image {
			text-align: left;
		}
	}
}